@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript.ttf");
}

header {
  background: url("/images/hero_1.jpg") no-repeat center;
  background-size: cover;
}

.active {
  font-size: 1.1rem;
}

.guestbook__heading {
  font-family: "DancingScript";
}
